// color variables

$white: #fff;
$bgwhite: #f5f5f5;
$light-gray: #ccc;
$gray: #9b9b9b;
$gray2: #bababa;
$dark-gray: #5f5f5f;
$blue: #014d8b;
$pink: #ec008d;
$red: #f00;
$shadow: rgba(0, 0, 0, 0.5);

// font variables

$tahoma: tahoma;
