@import 'variables.scss';

body {
	background-color: $bgwhite;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

div {
	width: 370px;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;

	div {
		width: auto;
	}

	p {
		font-family: $tahoma;
		color: $blue;
		font-size: 30px;
		font-weight: 700;
		margin: 0;
		line-height: 20px;
	}

	span {
		font-size: 15px;
	}

	img {
		display: block;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: $light-gray;
		margin-right: 10px;
	}
}

form {
	background-color: $white;
	padding: 10px 20px 20px 20px;
	box-sizing: border-box;
	transition: 1s;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 0 10px $shadow;
	}

	div {
		width: 100%;
		position: relative;

		span {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 12px;
			color: red;
		}
	}

	& > div:last-child {
		padding-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: $gray;
		}
	}
}

label {
	color: $dark-gray;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}

input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: $gray;
}

button {
	display: block;
	width: 125px;
	background-color: $pink;
	border: none;
	color: $white;
	text-transform: uppercase;
	line-height: 36px;
	border-radius: 18px;
	cursor: pointer;
	outline: none;

	&:disabled {
		cursor: not-allowed;
	}
}

footer {
	color: $gray2;
	text-align: center;

	a {
		color: inherit;
	}

	& + div {
		position: fixed;
		width: 100%;
		background-color: $shadow;
		z-index: 5;
		top: 0;
		left: 0;
		min-height: 100%;
		display: none;
		overflow: hidden;

		div {
			position: relative;
			width: 300px;
			height: 300px;
			background-color: $white;
			border-radius: 25px;
			margin: auto auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			span {
				position: absolute;
				right: 20px;
				top: 30px;
				font-family: $tahoma;
				font-size: 25px;
				line-height: 0;
				cursor: pointer;
			}
		}
	}
}

